.isNotLoaded__Coin {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  margin-top: 10px;
  color: black;
  padding: 10px;
  border: 0px solid red;
}

.bggreen {
  font-size: 18px;
  color: green;
  border: 0px solid red;
  width: 20%;
  position: absolute;
  right: 0;

}

.bgred {
  font-size: 18px;
  color:  red;
  border: 0px solid red;
  width: 20%;
  position: absolute;
  right: 0;
}

.coinImg {
  width: 32px;
  height: 32px;
  padding-left: 20px;

}

.coinName {
  font-size: 20px;
  padding-left: 10px;
}

.coinNameTwo {
  padding-left: 10px;
  color: grey;
  font-size: 15px;
}

.box {
  width: 100%;
  height: 60px;
  border: 0px solid red;
  display: flex;
  align-items: center;
  position: relative;
   
}